<div class="btn-group btn-group-sm" role="group">

    {% if view_url %}
    <a
        href="{{ view_url }}"
        class="btn btn-outline-primary"
        title="Visualizar">

        <i class="bi bi-eye"></i>

    </a>
    {% endif %}

    {% if edit_url %}
    <a
        href="{{ edit_url }}"
        class="btn btn-outline-warning"
        title="Editar">

        <i class="bi bi-pencil"></i>

    </a>
    {% endif %}

    {% if disable_url %}
    <a
        href="{{ disable_url }}"
        class="btn btn-outline-danger"
        title="Desativar">

        <i class="bi bi-trash"></i>

    </a>
    {% endif %}

</div>
