<div class="sidebar">

    <div>

        <div class="sidebar-header">

            <img src="{{ url_for('static', filename='img/logo-white.png') }}"
                 class="logo">

            <h3>O3Cloud<br>Manager</h3>

            <p>
                Gestão unificada da<br>
                infraestrutura e do negócio
            </p>

        </div>

        <div class="sidebar-divider"></div>

        <nav class="sidebar-menu">

            <a href="/" class="menu-item">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>

            <div class="menu-section">
                Cadastros 
            </div>

            <a href="/clientes" class="submenu-item">
                <i class="bi bi-people"></i>
                Clientes
            </a>

            <a href="/contratos" class="submenu-item">
                <i class="bi bi-file-earmark-text"></i>
                Contratos
            </a>
           
            <a
                class="submenu-item"
                href="{{ url_for('parceiros.index') }}">
                <i class="bi bi-building"></i>
                Parceiros
            </a>

            <a href="/produtos" class="submenu-item">
                <i class="bi bi-box"></i>
                Produtos
            </a>

            <div class="menu-section">
                Infraestrutura
            </div>

            <a href="#">
                <i class="bi bi-diagram-3"></i>
                Clusters
            </a>

            <a href="#">
                <i class="bi bi-hdd-network"></i>
                Nodes
            </a>

            <a href="#">
                <i class="bi bi-pc-display"></i>
                Máquinas Virtuais
            </a>

            <a href="#">
                <i class="bi bi-boxes"></i>
                Containers
            </a>

            <div class="menu-section">
                Integrações
            </div>

            <a href="#">
                <i class="bi bi-cloud-arrow-down"></i>
                OMIE
            </a>

            <a href="#">
                <i class="bi bi-hdd-rack"></i>
                Proxmox
            </a>

            <a href="#">
                <i class="bi bi-safe2"></i>
                PBS
            </a>

            <div class="menu-section">
                Administração
            </div>

            <a href="#">
                <i class="bi bi-gear"></i>
                Configurações
            </a>

        </nav>

    </div>

    <div class="sidebar-footer">

        <span class="status-dot"></span>

        Plataforma Online

        <small>

            Enterprise Edition

            <br>

            v2.0 Alpha

        </small>

    </div>

</div>
