# Flask
FLASK_ENV=development
SECRET_KEY=CHANGE_ME

# Banco
DB_HOST=localhost
DB_PORT=3306
DB_NAME=o3cloud_manager
DB_USER=o3manager
DB_PASSWORD=CHANGE_ME

# OMIE
OMIE_APP_KEY=
OMIE_APP_SECRET=

# Proxmox
PROXMOX_VERIFY_SSL=False

# Logs
LOG_LEVEL=INFO
