{% extends "layout/base.html" %}

{% block content %}

<div class="container-fluid">

    {% block page_header %}
    {% endblock %}

    <div class="card shadow-sm border-0">

        <div class="card-body">

            {% block view_content %}
            {% endblock %}

        </div>

        <div class="card-footer bg-white">

            {% block view_actions %}

            <a
                href="{{ cancel_url }}"
                class="btn btn-secondary" onclick="if (window.history.length > 1) { event.preventDefault(); window.history.back(); }">

                <i class="bi bi-arrow-left"></i>

                Voltar

            </a>

            {% endblock %}

        </div>

    </div>

</div>

{% endblock %}
